*{
    margin: 0 0 0 0;
    padding: 0;
}

body {
    margin: 0;
    /* font-family: 'DM Mono', monospace; */
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 1.6s;
    background-color: rgb(255, 255, 255);
}

html {
    scroll-behavior: smooth;
}

nav {
    position: absolute;
}

nav a {
    font-size: 1rem;
}

.navbar-brand {
    margin-left: 10px;
    font-size: 2rem;
}

.sve {
    font-size: 1.5rem;
    position: absolute;
    z-index: 3;
    display: flex;
    top: 15px;
    right:25vw;
    color: black;
    text-decoration: underline;
    z-index: 4;
}

.fi {
    font-size: 1.5rem;
    font-weight: 400;
    position: absolute;
    z-index: 3;
    display: flex;
    top: 15px;
    right:25vw;
    color: black;
    text-decoration: underline;
    margin-right: 3vw;
    z-index: 4;
}

.flexcontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#showcase {
    position: relative;
    background-image: url(../img/bakgrundsbild2.JPG);
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* padding: 0 20px; */
}

#showcasefoto {
    position: relative;
    background-image: url(../img/bakgrundsbild2.JPG);
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* padding: 0 20px; */
}

    nav, button {
        z-index: 3;
}

.bg-light {
    background-color: transparent !important;
    font-family: 'DM Mono', monospace;
}

#overlay {
    background-color: #ffffff;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    height: 100%;
}

#overlayfoto {
    background-color: #f8b24f;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    height: 100%;
}

#om_mig {
    text-align: center;
}

#profile_pic {
   margin: 0 auto;
   max-width:100%;
    height:auto;
}

.project_pic {
    margin: 0 auto;
   max-width:100%;
    height:auto;
}

#showcase h1{
    font-family: 'Bubbler One', sans-serif;
    /* font-family: 'DM Mono', monospace; */
    font-weight: 700;
    position: relative;
    width: 100%;
    font-size: 28px;
    line-height: 1.2;
    /* color: rgb(110, 196, 152); */
    color: white;
    text-shadow: black;
    z-index: 1;
    padding: 20px 20px;
    background-color: rgb(125, 161, 144);
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;
    right: 20%px;
    margin-top: 30vh;
}

@media (min-width: 500px) {
    #showcase h1{
        font-size: 50px;
        /* line-height: 1.2;
        /* color: rgb(110, 196, 152); */
        /* color: rgb(255, 255, 255);
        margin-bottom: 20px;
        z-index: 2;
        padding: 20px 20px;
        background-color: transparent !important; */
    }
}

.btn {
    background-color: rgb(172, 48, 48);
    border: none;
}

.btn a {
    color: white;
}

#showcase p{
    font-family: 'DM Mono', monospace;
    font-size: 20px;
    color: rgb(184, 204, 130);
    margin-bottom: 20px;
    z-index: 2;
}

#showcase .button{
    position: absolute;
    font-family: 'DM Mono', monospace;
    font-size: 20px;
    text-decoration: underline;
    color: rgb(226, 208, 41);
    border: rgb(0, 0, 0) 1px solid;
    padding: 10px 10px;
    text-align: center;
    width: 50vw;
    margin: 0 auto;
    margin-top: 70vh;
    z-index: 3;
}

#showcase .button a {
    color: rgb(0, 0, 0);
    font-size: 1rem;
    max-width: 40vw;
    text-align: center;
}

#showcase p {
    color: rgb(226, 208, 41);
    font-family: 'DM Mono', monospace;
    font-size: 16px;
    margin: 0;
    text-align: center;
}

.button .a {
    width: 100%;
}

#slideshow {
    margin-bottom: 20px;
}

#slideshow, img { 
    width: auto; 
    height: 30vh;
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

@media (min-width: 400px){
    #slideshow, img {
        height: 30vh;
    }
}

@media (min-width: 500px){
    #slideshow, img {
        height: 40vh;
    }
}

@media (min-width: 700px){
    #slideshow, img {
        height: 50vh;
    }
}

@media (min-width: 1000px){
    #slideshow, img {
        height: 90vh;
    }
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}
  

#about_me_section {
    padding: 20px;
    background-color: white;
    color: black;
}

#about_me_section h2 {
    font-family: 'Bubbler One', sans-serif;
    color: rgb(125, 161, 144);
    margin: 15 0 0 0;
    /* background-color: rgba(122, 76, 38, 0.253); */
    padding: 0;
    width: 100%;
   
}

#contact{
    padding: 20px;
    background-color: white;
    color: black;
    width: 100%;
    text-align: center;
}

#contact h2 {
    font-family: 'Bubbler One', sans-serif;
    color: rgb(125, 161, 144);
    /* background-color: rgba(122, 76, 38, 0.253); */
   
}

#about_me p {
    display: flex;
    text-align: justify;
}

#section-c{
    display: flex;
}
#section-c div{
    padding: 20px;
}

.social_media {
    text-align: center;
}

.social_media a {
    font-size: 2.5rem;
}

.footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(125, 161, 144);
    color: white;
    text-align: center;
  }

  .footer p {
      font-size: 0.8rem;
      margin: 0;
    
  }

  .footer a {
      color: rgb(23, 78, 196);
  }