*{
    margin: 0 0 0 0;
    padding: 0;
}

body {
    margin: 0;
    /* font-family: 'DM Mono', monospace; */
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 1.6s;
    background-color: rgb(26, 26, 26);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

html {
    scroll-behavior: smooth;
}

nav {
    position: absolute;
}

nav a {
    font-size: 1rem;
}

.navbar-brand {
    margin-left: 10px;
    font-size: 2rem;
}

.navbar-toggler-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.sve {
    font-size: 1.5rem;
    position: absolute;
    z-index: 3;
    display: flex;
    top: 15px;
    left: 20px;
    color: black;
    text-decoration: underline;
    z-index: 4;
}

.fi {
    font-size: 1rem;
    font-weight: 400;
    position: absolute;
    z-index: 3;
    display: flex;
    top: 15px;
    right: 20px;
    color: black;
    text-decoration: underline;
    margin-right: 3vw;
    z-index: 4;
}

.flexcontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#showcase {
    position: relative;
    background-image: url(../img/bakgrundsbild3.JPG);
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* padding: 0 20px; */
}

#hero-profilePic {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: contain;
    position: absolute;
    right: 100px;
    bottom: -100px;
    z-index: -1;
}

/* this is the navbar */
.bg-light {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    width: 100vw;
    background-color: #9acecad8 !important;
    z-index: 1;
}

.bg-light li {
    margin-right: 20px;
}

#om_mig {
    text-align: center;
}

#profile_pic {
   margin: 0 auto;
   max-width:100%;
    height:auto;
}

.project_pic {
    margin: 0 auto;
   max-width:100%;
    height:auto;
}

.social_media {
    position: absolute;
    right: 120px;
    bottom: -60px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 0;
    margin: 0;
}

.social_media a {
    font-size: 2.5rem;
    text-align: center;
    display: block;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.social_media a:hover {
    text-decoration: none;
}

.flexcontent{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    position: absolute;
    top: 30vh;
    width: 100%;
    height: 330px;
    letter-spacing: 10px;
    font-size: 5rem;
    line-height: 1.2;
    z-index: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
}

#showcase h1 {
    z-index: 1;
}

#andersson {
    display: block;
    font-family: 'Kristi', cursive;
    letter-spacing: 0;
    font-size: 7rem;
}

#h1overlay {
    width: 100%;
    height: 300px;
    background: url(../img/brush-stroke-banner-7.png);
    background-repeat: no-repeat;
    background-size: 100% 95%;
    padding: 8px 0;
    filter: invert(45%) sepia(74%) saturate(2586%) hue-rotate(350deg) brightness(89%) contrast(91%) opacity(0.9);
    z-index: -1;
    position: absolute;
}

@media (max-width: 700px) {
    #showcase h1{
        font-size: 1.1rem;
    }
    #showcase #andersson {
        font-size: 4rem;
    }
}

@media (max-width: 900px) {

    #hero-profilePic {
        width: 150px;
        height: 150px;
        right: 20px;
        bottom: -50px;
    }

    .social_media {
        font-size: .7rem;
        right: 30px;
    }
}

.btn {
    background-color: rgb(125, 161, 144);
    border: none;
}

.btn a {
    color: white;
}

#showcase p{
    font-family: 'DM Mono', monospace;
    font-size: 20px;
    color: rgb(184, 204, 130);
    margin-bottom: 20px;
    z-index: 2;
}

#showcase .button{
    position: absolute;
    font-family: 'DM Mono', monospace;
    font-size: 20px;
    text-decoration: underline;
    color: rgb(226, 208, 41);
    border: rgb(0, 0, 0) 1px solid;
    padding: 10px 10px;
    text-align: center;
    width: 50vw;
    margin: 0 auto;
    margin-top: 70vh;
    z-index: 3;
}

#showcase .button a {
    color: rgb(0, 0, 0);
    font-size: 1rem;
    max-width: 40vw;
    text-align: center;
}

#showcase p {
    color: rgb(226, 208, 41);
    font-family: 'DM Mono', monospace;
    font-size: 16px;
    margin: 0;
    text-align: center;
}

.button .a {
    width: 100%;
}

.slideshow-about-me-wrapper {
    display: flex;
}

#slideshow {
    margin-bottom: 50px;
}

#slideshow, img { 
    width: 500px; 
    height: 300px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    border-radius: 8px;
    /* background: black !important; */

}

@media (min-width: 300px){
    #slideshow, img {
        width: 300px;
        height: 30vh;
    }
}

@media (min-width: 400px){
    #slideshow, img {
        width: 400px;
        height: 30vh;
    }
}

@media (min-width: 500px){
    #slideshow, img {
        width: 500px;
        height: 40vh;
    }
}

@media (min-width: 700px){
    #slideshow, img {
        height: 50vh;
    }
}

@media (min-width: 1000px){
    #slideshow, img {
        /* height: 90vh; */
    }
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}

#about_me_section h2 {
    font-family: 'Bubbler One', sans-serif;
    margin: 15 0 0 0;
    padding: 0;
    width: 100%;
    max-width: 600px;
}

#contact, section#about_me_section{
    padding: 50px;
    /* background-color: #9acecad8; */
    background-color: #da5a1e;
    color: white;
    width: 90%;
    margin: 0 auto;
    border-radius: 8px;
    font-size: .9rem;
    margin-top: 40px;
    /* margin-bottom: 40px; */
}

.contact-wrapper, .about_me_wrapper {
    padding: 0 70px;
}

@media (max-width: 700px) {
    #contact, section#about_me_section{
        padding: 0;
        
    }
    .contact-wrapper, .about_me_wrapper {
        display: block;
        padding: 40px 10px;
    }
    .contact-a, .contact-b, .about_me_a, .about_me_b {
        width: 100%;
    }
    .contact-wrapper, .about_me_wrapper {
        display: block;
        width: 100%;
    }
}

/* .contact-a, .contact-b, .about_me_a, .about_me_b {
    width: 45%;
} */

#contact h2 {
    font-family: 'Bubbler One', sans-serif;
}

#contact a {
    color: white;
    text-decoration: underline;
}

#about_me p {
    display: flex;
    text-align: justify;
}

.footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9acecad8 !important;
    color: white;
    text-align: center;
    margin-top: 30px;
  }

  .footer p {
      margin: 0;
      font-size: .9rem;
  }

  .footer a {
      color: #da5a1e;
  }

  .obs {
      text-decoration: underline;
  }